@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');

.display-cnt {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.display-first-cnt {
  display: flex;
  gap: 99px;
  align-items: center;
}

.display-first-empty {
  width: 8px;
  height: 301px;
  background: #f7df94;
}

.display-first-txt-cnt {
  display: flex;
  align-items: center;

  width: 300px;
  height: 400px;
}

.display-first-txt {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}

.display-second-cnt {
  padding-left: 99px;
}

.display-second-txt-name {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #4f4f4f;
}

.display-second-txt-genre {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  color: #828282;
}

.display-quotes-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.display-quote {
  display: flex;
  align-items: center;
  gap: 99px;
}

.display-empty-cnt {
  width: 8px;
  height: 301px;
  left: 309px;
  top: 283px;
  background: #f7df94;
}

.display-author-quotes {
  width: 614px;
  height: 301px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  color: #000000;
}

.display-author-quotes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-name-cnt {
  display: flex;
  padding-left: 110px;
}

.author-name {
  width: 164px;
  height: 42px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  width: 400px;
  height: 50px;
}

.display-author-cnt {
  display: flex;
  flex-direction: column;
  gap: 82px;
}

.home-btn {
  width: 60px;
}
